[user]
	email = 
	name = hubleyg
[push]
	default = simple
[alias]
	unstage = reset HEAD --
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	df = diff --ws-error-highlight=all
[core]
	whitespace = fix
	editor = vim
	autocrlf = true
[color "diff"]
	whitespace = blue reverse
[cola]
	spellcheck = false
	blameviewer = git gui blame
[gui]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[init]
	defaultBranch = main
[http]
	sslbackend = schannel
[credential "helperselector"]
	selected = manager-core
[http "https://irytcalm.kse.ksegroup.net"]
    sslVerify = false
    proxy =
[pull]
	rebase = true
[safe]
	directory = C:/CodingProjects/pbkdf2/jtekt-pbkdf2-c
